* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,14,1) 35%, rgba(249,255,0,1) 100%);
}

.banner {
    display: flex;
    background-color: #cccccc65;
}
#topo {
    
    margin: auto;
    text-shadow: 1px snow;
}

h1 {
    margin-top: 2%;
    color: white;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingame-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
}

li {
    text-transform: none;
    padding-top: 30px;
}

nav li {
    display: flex;
    justify-content: space-evenly;
    margin-right: 0;
}

#qr {
    width: 50%;
}

#vr {
    width: 45%;
}

#pfc {
    width: 60%;
}

#edu {
    width: 60%;
}