body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,14,1) 35%, rgba(249,255,0,1) 100%);
}

.banner {
    margin: auto;
}

h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}