* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,14,1) 35%, rgba(249,255,0,1) 100%);
}

.banner {
    display: flex;
    background-color: #cccccc65;
    justify-content: center;
}
#topo {
    display: flex;
    margin: auto;
    text-shadow: 1px snow;
}

h1 {
    margin-top: 2%;
    color: white;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingame {
    margin-right: 3%;
}

.ingame-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.lateral {
    display: flex;
    flex-direction: column;
}

.li-lateral {
    text-transform: none;
    padding-top: 10px;
}

.lateral .li-lateral {
    display: flex;
    justify-content: center;
    
}

#qr {
    width: 45%;
    
}

#vr {
   width: 55%;
}

#pfc {
    width: 45%;
}

#edu {
    width: 45%;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #ffffff;
}

p {
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

nav li {
    display: inline;
    padding: 20px;
    
}

nav a {
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: rgb(0, 44, 10);
    text-decoration: underline;
}

